body {
  height: 100vh;
  background-color: #5b5f6b;
}
.overlay {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#calculator {
  height: 520px;
  width: 320px;
  background-color: #e5e3e0;
  border-radius: 6px;
  font-family: sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 4px 4px 12px 0px rgba(77, 38, 77, 1);
  -moz-box-shadow: 4px 4px 12px 0px rgba(77, 38, 77, 1);
  box-shadow: 4px 4px 12px 0px rgba(77, 38, 77, 1);
}

#result {
  height: 120px;
  color: #5b5f6b;
}

#keyboard {
  height: 400px;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #6b675b;
}

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}

.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  float: left;
  margin: 15px;
  border-radius: 50%;
  outline: none;
  border-width: 0;
}

.operator,
.number {
  cursor: pointer;
}

.operator:active,
.number:active {
  font-size: 60%;
}

.empty {
  background-color: #e5e3e0;
}

button:nth-child(4n + 0) {
  font-size: 110%;
  background-color: #5b5f6b;
  color: #fff;
}

button:nth-child(-n + 3) {
  font-size: 110%;
  background-color: #9b9faa;
  color: #fff;
}
